body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}
.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}
.header {
    background: #222222;
    padding: 18px 0;
}
.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-side {
    display: flex;
    align-items: center;
}
.logo {
    margin: 0 41px 0 0;
}
.search-button {
    background-color: transparent;
    border-color: transparent;
}
.right-side nav {
    display: flex;
    align-items: center;
}
.cart, .profile {
    margin: 0 0 0 33px;
}
.header-menu {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}
.promo {
    background-color: #F1E4E6;
}
.promo-wrap {
    display: flex;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
}
.promo-image-man {
    max-width: 800px;
    width: 100%;
}
.promo-title {
     padding: 0 0 0 16px;
     color: #222222;
     font-weight: 900;
     font-size: 48px;
     line-height: 58px;
     text-transform: uppercase;
     max-width: 377px;
     border-left: 12px solid #F16D7F;
}
.promo-subtitle {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    white-space: nowrap;
}
.promo-subtitle__red {
    color: #F16D7F;;
}
.offers {
    padding: 65px 0 96px 0;
}
.offers-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.offers-item {
    width: 100%;
    max-width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 260px;
    background-image: url(../img/for-women.jpg);
    background-size: cover;
}
.accesories {
    max-width: 100%;
    background-image: url(../img/accesories.jpg);
    margin-top: 30px;
}
.offers-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;

}
.top-title {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    display: block;
    text-align: center;
}
.goods-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.goods-item {
    max-width: 360px;
    margin-bottom: 30px;
    background: #F8F8F8;
}